

/*   Big tablet to 1200px  */
@media only screen and (max-width: 1200px) {
	.hero-text-box {
		width: 100%;
		padding: 0 2%;	
	}

	.row {
		padding: 0 2%;
	}
}

/*   Small tablet to big tablet (768px to 1023px)   */
@media only screen and (max-width: 1023px) {
	body {
		font-size: 90%;
	}

	section {
		font-size: 90%;
	}

	.features-copy {
		width: 80%;
		margin-left: 10%;
	}

	.steps-box {
		margin-top: 10px;

	}

	.works-step {
		margin-bottom: 40px;
	}

	.works-step p {
		line-height: 40px;
		vertical-align: middle;
	}

	.works-step:last-of-type {
		margin-bottom: 0;
	}

	.app-screen {
		width: 40%;
	}

	.plan-box {
		width: 100%;
		margin-left: 0%;
	}

	.plan-price {
		font-size: 225% ;
	}

	.contact-form {
		width: 80%;
	}

	.appsButtonRow {
		display: inline-block;
		text-align: center;
			
	}


}


/*   Phones: Target all phones to tablets smaller than the iPad (481px to 767px)   */
@media only screen and (max-width: 767px) {
	body {
		font-size: 16px;
	}
	section {
		padding: 30px;
	}

	.row,
	.hero-text-box {
		padding: 0 4%;
	}

	.col {
		width: 100%;
		margin: 0 0 3% 0;
	}

	.main-nav {
		display: none;
	} 

	.mobile-nav-icon {
		display: inline-block;
	}

	.main-nav {
		float: left;
		margin-top: 25px;
		margin-left: 25px;

	}

	.main-nav li {
		display: block;

	}

	.main-nav li a:link,
	.main-nav li a:visited {
		display: block;
		border: none;
		padding: 10px 0;
		font-size: 95%;
	}

	.sticky .main-nav {
		margin-top: 10px;
	}	

	.sticky .main-nav li a:link,
	.sticky .main-nav li a:visited {
		color: #555;
		padding: 8px 0;
	}

	.sticky .mobile-nav-icon {
		margin-top: 10px;
	}

	.sticky .mobile-nav-icon i {
		color: #555;
	}




	.features-copy {
		width: 100%;
		margin-left: 0%;
	}

	h1 {
		font-size: 180% ;
	}

	h2 {
		font-size: 140% ;
	}

	.works-step div {
		height: 40px;
		width: 40px;
		vertical-align: middle;
		margin-bottom: 20px;
	}

	.section-features h2 {
		font-size: 190%;
	}

	.footer-nav {
		width: 100%;
		text-align: center;
	}
			
	.footer-nav li {
		font-size: 12px;
		
		
	}

	.social-links {
		width: 100%;
		text-align: center;
		padding-top: 10px;
		margin-bottom: 10px;
	}


}


/*   Small Phones: from 0: 480px   */
@media only screen and (max-width: 480px) {
	section {
		padding: 25px 0;
	}


	.contact-form {
		width: 100%;
	}

	
	.appsButtonRow {
		display: inline-block;
		text-align: center;
			
	}
	.works-step {
		margin-bottom: 30px;
	}

	.works-step div {
		margin-bottom: 80px;
	}

	.works-step {
		margin-bottom: 30px;
		vertical-align: middle;
	}
	.works-step:last-of-type {
		margin-bottom: 0;
	
	}

	.steps-box:first-child {
		margin-top: 0;
		margin-bottom: 0;
	}

	.steps-box:last-child {
    	margin-top: 20px;
	}

	.section-features h2 {
		font-size: 190%;
	}

	.footer-nav {
		width: 100%;
		text-align: center;
	}
			
	.footer-nav li {
		font-size: 12px;
		
		
	}

	.social-links {
		width: 100%;
		text-align: center;
		padding-top: 10px;
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 362px) {
		.btn {
			margin-top: 10px;
		}

		.section-footer p {
			font-size: 15px;
		}

		.memo {
			font-size: 5px;
		}
	}